//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.01 (64-bit)
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Sat 11 16 00:45:03 2024

// LED Outputs
IO_LOC "led_out[7]" 27;
IO_PORT "led_out[7]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "led_out[6]" 28;
IO_PORT "led_out[6]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "led_out[5]" 29;
IO_PORT "led_out[5]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "led_out[4]" 30;
IO_PORT "led_out[4]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "led_out[3]" 31;
IO_PORT "led_out[3]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "led_out[2]" 32;
IO_PORT "led_out[2]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "led_out[1]" 34;
IO_PORT "led_out[1]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "led_out[0]" 35;
IO_PORT "led_out[0]" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;

// Camera Clock Output
IO_LOC "xclk" 33;
IO_PORT "xclk" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;

// Button Input
IO_LOC "shutter_btn" 15;
IO_PORT "shutter_btn" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// Camera Data Bus
IO_LOC "data[7]" 23;
IO_PORT "data[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data[6]" 16;
IO_PORT "data[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data[5]" 18;
IO_PORT "data[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data[4]" 20;
IO_PORT "data[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data[3]" 19;
IO_PORT "data[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data[2]" 17;
IO_PORT "data[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data[1]" 21;
IO_PORT "data[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "data[0]" 22;
IO_PORT "data[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// Camera Control Signals
IO_LOC "href" 42;
IO_PORT "href" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "vsync" 43;
IO_PORT "vsync" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "pclk" 41;
IO_PORT "pclk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// System Clock
IO_LOC "clk" 45;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
